.demonstration-section{
    position: relative;
    text-align: center;
}

.demo-step{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.demo-next > img{
    width: 1.5em;
    height: 2.1em;
}