.main-container{
    background: rgb(92,24,180);
    background: -moz-linear-gradient(90deg, rgba(92,24,180,1) 5%, rgba(92,24,180,0.85) 26%, rgba(255,165,0,0.9) 50%, rgba(255,255,255,0.9) 50%);
    background: -webkit-linear-gradient(90deg, rgba(92,24,180,1) 5%, rgba(92,24,180,0.85) 26%, rgba(255,165,0,0.9) 50%, rgba(255,255,255,0.9) 50%);
    background: linear-gradient(90deg, rgba(92,24,180,1) 5%, rgba(92,24,180,0.95) 26%, rgba(255,165,0,0.9) 50%, rgba(255,255,255,0.9) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c18b4",endColorstr="#ffffff",GradientType=1);
    padding-top: 5rem;
}

.welcome-section{
    color:white;
    line-height: 1.6;
}

.welcome-section h1{
    background: linear-gradient(53deg, transparent, #fda607, darkorange, #eaa22c, transparent) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 490ms;
    --bg-h: 100%;
    width: fit-content;
}

.welcome-section h1:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    font-style: italic;
}

.welcome-section a{
    text-decoration: none;
}

.welcome-section a:link a:active, a:visited{
    color: #fda607;
}

.welcome-section a:hover{
    font-weight: bolder;
    font-style: italic;
    color: #fda607;
}

.model-section #heading{
    margin: auto auto 1rem auto;
    width: fit-content;
    position: relative;
}

.model-section #heading:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.model-section #heading:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.model-section #heading:hover{
    color: rgba(92,24,180) !important;
}

.file-input-area{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 25px;
    border: 2px dashed rgba(0, 0, 0, 1);
    border-radius: 10px;
    margin: auto 0 auto auto;
    transition: 0.2s;
}

.file-input-area:hover {
    background: rgba(255, 167, 0, 0.1);
}

.file-msg{
    font-weight: bolder;
}

.file-msg-mobile{
    display: none;
    font-weight: bolder;
}

.file-input {
    position: absolute;
    background:red;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
     outline: none;
}

.file-btn{
    padding:10px;
    margin: auto auto auto 0;
    height: fit-content;
    background: transparent;
    border: none;
    text-decoration: underline;
    transition: 50ms;
}

.file-btn:hover{
    font-style: italic;
}

.image-container{
    margin-top: 1rem;
    display: flex;
}

.image-container img{
    max-width: 100%;
    height: auto;;
    margin:auto;

    box-shadow: 0 0 75px -20px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0 0 75px -20px rgba(0,0,0,0.51);
    -moz-box-shadow: 0 0 75px -20px rgba(0,0,0,0.51);
}

.upload-image{
    margin-top:1rem;
}

.upload-image button{
    margin: auto;
}

.upload-image div{
    margin: auto;
}

.result-container{
    height: 9rem;
    font-weight: bold;
}

.result-container h4{
    border-bottom: 1px solid black;
    text-align: center;
}


@media screen and (max-width:767px){
    .main-container{
        background: rgb(92,24,180);
        background: -moz-linear-gradient(180deg, rgba(92,24,180,1) 0%, rgba(92,24,180,0.8) 26%, rgba(255,165,0,0.85) 100%);
        background: -webkit-linear-gradient(180deg, rgba(92,24,180,1) 0%, rgba(92,24,180,0.8) 26%, rgba(255,165,0,0.85) 100%);
        background: linear-gradient(180deg, rgba(92,24,180,1) 0%, rgba(92,24,180,0.8) 26%, rgba(255,165,0,0.85) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c18b4",endColorstr="#ffa500",GradientType=1);
    }

    .model-section{
        color: white;
    }

    .result-container{
        height: 10rem;
    }

    .result-container h4{
        border-bottom: 1px solid white;
    }

    .file-input-area{
        border: 2px dashed rgb(255, 255, 255) !important
    }

    .file-msg{
        display: none;
    }

    .file-msg-mobile{
        display: block;
    }

    .file-input-section .file-btn{
        color:white;
    }
}
